body {
	background-color: black;
}

h1 {
/*	font-family:;
*/}

h2 {

}

h3 {

}

h4 {
	position: relative;
	font-size: 22px;
/*	z-index: 10;
*/	color: green;
	font-family: 'Press Start 2P';
}

ul {
	list-style-type: none;
}

li {
	position: relative;
	text-align: left;
	font-size: 20px;
	font-family: 'Press Start 2P';
	color: green;
}

p {
	position: fixed;
	font-size: 30px;
	z-index: 10;
}

#mainContainer {
	position: relative;
}

#boardContainer {
/*	position: absolute;
*/	width: 100%;
	margin: 2% 2% 1% 0%; 
	height: auto;
}

#usMap {
	position: relative;
	width: 99%;
	height: 100%;
	text-align: center;
/*	top: 0;
	left: 0;*/
}

#terminalContainer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 38%;
	width: 96%;
	margin: 3% 0% 2% 1%;
	border: green double 5px;
	text-align: center;
	display: inline-flex;
}

#userInfo {
	width: 45%;
	border-right: green solid 1px;
	float: left;
}

#userStatusUl {
	font-size: 18px;
	float: left;
}

.userStatusLi {
	float: left;
	text-align: left;
	color: green;
}

#terminalMessages {
	width: 55%;
	float: right;
}

#score {
	position: fixed;
	top: 0;
	left: 0;
}