body, html {
	background-color: black;
}

h1 {
/*	font-family:;
*/}

h4 {
	position: fixed;
	font-size: 24px;
/*	z-index: 10;
*/	color: green;
	font-family: 'Press Start 2P';
}

#boardContainer {
	position: fixed;
	width: 100%;
	margin: 4% 5% 2% 3%;
	top: 0;
	left: 0;
}

#usMap {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

p {
	position: fixed;
	font-size: 30px;
	z-index: 10;
}

#score {

	position: fixed;
	top: 0;
	left: 0;
}